.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.panel {
  width: 40vw;
  max-width: 520px;
  height: 100vh;

  background: #f5f5f5;
  position: relative;

  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;

  overflow-y: auto;
  padding: 20px 20px 60px;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.2);
}

.show-panel {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

form {
  display: grid;
  gap: 10px;
  margin-top: 2%;
  padding: 10px;
}

form > label {
  margin-bottom: -7px;
}

form > .error-container {
  margin-top: -10px;
}

.error-container {
  height: 20px;
  display: flex;
  align-items: center;
}

.location-container {
  display: flex;
  gap: 10px;
}

.location-container > div {
  flex: 1; 
  display: flex;
  flex-direction: column;
  min-width: 0; 
}

.location-container input {
  width: 100%; 
  box-sizing: border-box;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 10px;
  
  /* Add these lines */
  display: flex;
  align-items: center;
  gap: 8px; /* Creates consistent space between text and checkbox */
  cursor: pointer;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin: 0; 
  cursor: pointer;
}

.error {
  color: #e11d48;
  font-size: 0.8rem;
  min-height: 10px;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

button[type="submit"] {
  background: #4f46e5;
  color: white;
}

button[type="submit"]:hover {
  background: #4338ca;
}

button[type="button"] {
  background: #e5e7eb;
}

button[type="button"]:hover {
  background: #d1d5db;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}