<article class="details-container">
  <img
    class="listing-photo"
    [src]="location?.photo"
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ location?.name }}</h2>
    <p class="listing-location">{{ location?.city }}, {{ location?.state }}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ location?.availableUnits }}</li>
      <li>Does this location have wifi: {{ location?.wifi }}</li>
      <li>Does this location have laundry: {{ location?.laundry }}</li>
    </ul>
  </section>
  <div class="navigation-buttons">
    <button class="nav-btn" (click)="handlePrev(location)">← Prev</button>
    <button class="nav-btn" (click)="handleNext(location)">Next →</button> 
  </div>
</article>
