<button class="container" (click)="handleClick()" [class.selected]="isEditMode() && isSelected()">
  <section class="listing">
    @if(isEditMode() && isSelected()) {
      <div class="selection-check">✓</div>
    }
    <img
      class="listing-photo"
      [src]="housingLocation().photo"
    />
    <h2 class="listing-heading">{{ housingLocation().name }}</h2>
    <div class="listing-info">
      <p class="listing-location">{{ housingLocation().city }}, {{ housingLocation().state }}</p>
      @if(housingLocation().wifi) {
        <img
        src="public/wifi.svg"
        class="wifi-icon"
        alt="WiFi available"
        /> 
      }
      
    </div>
    @if(isEditMode()) {
      <button (click)="$event.stopPropagation(); handleEdit()">Edit</button>
    } 
  </section>
</button>
<router-outlet></router-outlet>